body {
	font-family: 'Roboto', sans-serif;
	/* background: #181818; */
	background: #0A0A0A;
	/* background: #252525; */
	/* color: #fff; */
	color: #A1A1A1;
	padding:0px;
	margin:0px;
}

h1, h2, h3, h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	color: #fff;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2.2em;
}

a {
	color: #fff;
}

.container {
	max-width: 1005px;
	margin: 0 auto;
	padding: 2em 1em;
}

header {
	text-align: center;
	background: #0A0A0A;
}

header .container {
	margin: 0 auto;
	padding-top: 0;
	padding-bottom: 0;
}

header {
	display: flex;
	flex-flow: row;
	align-items: center;
}

header .logo img {
	height: 40px;
}

nav {
	padding: 1em 0;
	margin-left: auto;
}

nav ul {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-end;
	align-items:center;
}

nav ul li {
	list-style: none;
	margin-left: 1.5em;
}

nav ul li a {
	font-size: 1.1em;
	font-weight: 500;
	color: white;
	text-decoration: none;
}


nav img.gh-logo {
	height: 16px;
	margin-right: 0.2em;
}

main {
	display: flex;
}

.hero {
	text-align: center;
}


.hero {
	padding-bottom: 1em;
}

.hero p {
	font-size: 1em;
	font-weight: 300;
	margin-bottom: 2em;
}

.hero a.btn {
	background: #F2C94C;
	color: #333333;
	text-decoration: none;
	padding: 0.6em 3em;
	border-radius: 10px;
	font-weight: 500;
}

figure {
	text-align: center;
	margin: 0px;
}

figure img {
	margin: 0 auto;
	width: 85%;
	max-width: 450px;
}

.hl {
	background: #252525;
}

.definition {
}

.definition {
	max-width: 530px;
	margin: 0 auto;
}

.definition h2 {
	color: #BEBEBE;
	text-align: center;
}

.definition .hint {
	color: #BCBCBC;
	font-size: 0.9em;
	margin-bottom: 0px;
}

.definition ol {
	padding-left: 1em;
}

.definition h3 {
	color: #BEBEBE;
	margin-top: 0px;
}

.definition ol li {
	color: #BCBCBC;
	margin-bottom: 1em;
	font-weight: 300;
}

#how-it-works {
	text-align: center;
}
#how-it-works h3 {
	font-weight: 700;
	font-size: 1.3em;
}


#how-it-works article {
	text-align: center;
	margin: 0 auto 3em;
}

#how-it-works article:last-child {
	margin-bottom: 0;
}

#how-it-works article p {
	margin-left: auto;
	margin-right: auto;
	max-width: 530px;
}

#best {
	text-align: center;
}

#best p {
	margin: 0 auto 2em;
	max-width: 530px;
}

#use-cases h2 {
	text-align: center;
}

#use-cases article {
	margin: 0 auto 3em;
}

#use-cases article:last-child {
	margin-bottom: 0;
}

#use-cases p {
	text-align: left;
	margin: 0 auto;
	max-width: 530px;
}

#offer {
	text-align: center;
}

#offer section {
	max-width: 530px;
	/* width: 420px; */
	text-align: center;
	margin: 0 auto 3em;
}

#offer section p, #offer section ul {
	text-align: left;
	/* margin: 0 auto; */
	margin-bottom: 2em;
	margin: 0 auto 2em;
	padding: 0;
}

#offer section ul li {
	background: url(/img/check.svg) no-repeat 0px 0px transparent;
	list-style-type: none;
	margin: 0;
	padding-left: 2em;
	padding-bottom: 1em;
}

a.btn {
	background: #F2C94C;
	color: #333333;
	text-decoration: none;
	padding: 0.6em 3em;
	border-radius: 10px;
	font-weight: 500;
}

footer {
	flex-flow: column;
	display: flex;
}

footer section ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

footer section ul li {
	padding-bottom: 0.5em;
}


footer a {
	text-decoration: none;
}

footer .gh-logo {
	height: 14px;
}

@media only screen and (min-width: 820px) {
	#use-cases .articles, #offer .sections {
		display: flex;
		flex-wrap: wrap;
	}

	#use-cases article, #offer section {
		text-align: left;
		width: 400px;

	}
	#use-cases article h3 {
		text-align: left;
	}


	footer {
		flex-flow: row;
		justify-content: space-around;
	}

	footer section {
		margin: 0 auto;
		width: 400px;
	}

	footer :last-child {
		margin-left: auto;
	}
}
